/* Gilroy */

/* @font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-UltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
} */

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* @font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Heavy.otf") format("opentype");
  font-weight: 1000;
  font-style: normal;
} */



/* Gilroy Italic */

/* @font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-UltraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
} */

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* @font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-ExtraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face
{
  font-family: Gilroy;
  src: url("../fonts/Gilroy-HeavyItalic.otf") format("opentype");
  font-weight: 1000;
  font-style: italic;
} */
